@page
@model HospiEnCasa.App.WebApp.ListModel
@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Listado de personas";
}

<div class="container bg-white border border-secondary rounded-25">
    <div class="row">
        <div class="col-md-2 col-sm-12">

        </div>
        <div class="col-md-8 col-sm-12">
            <br>
            <br>
            <h1>Listado de personas</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Número teléfonico</th>
                        <th>Genero</th>
                        <th>Tipo Persona</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach( var persona in Model.listadoPersonas){
                        <tr>
                            <td>@persona.Id</td>
                            <td>@persona.Nombre</td>
                            <td>@persona.Apellidos</td>
                            <td>@persona.NumeroTelefono</td>
                            <td>@persona.Genero</td>
                            <td>@persona.Discriminator</td>
                            <td>
                                <a class="btn btn-primary table-btn" asp-page="./Edit" asp-route-Id="@persona.Id">
                                    <i class="far fa-edit"></i>Editar
                                </a>
                                <a class="btn btn-default table-btn" asp-page="./Remove" asp-route-Id="@persona.Id">
                                    <i class="far fa-remove"></i>Eliminar
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <br>
            <br>
        </div>
        <div class="col-md-2 col-sm-12">

        </div>
    </div>
</div>