@page
@model HospiEnCasa.App.WebApp.ListModel
@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Listado de personas";
    ViewData["script"] = "personaList.js";    
}
<div class="container bg-white border border-secondary rounded-25">
    <div class="row">
        <div class="col-md-2 col-sm-12">

        </div>
        <div class="col-md-8 col-sm-12">
            <br>
            <br>
            @{
              if(Model.mensaje != ""){
                <div class="alert alert-primary" role="alert">
                    @Model.mensaje
                </div>
              }
            }            
            <br>
            <br>
            <h1>Listado de personas</h1>
            <table class="table" id="tablePersonas">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Número teléfonico</th>
                        <th>Genero</th>
                        <th>Tipo Persona</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach( var persona in Model.listadoPersonas){
                        <tr>
                            <td>@persona.Id</td>
                            <td>@persona.Nombre</td>
                            <td>@persona.Apellidos</td>
                            <td>@persona.NumeroTelefono</td>
                            <td>@persona.Genero</td>
                            <td>@persona.Discriminator</td>
                            <td>
                                <!--
                                <a class="btn btn-primary" asp-page="./Edit" asp-route-Id="@persona.Id">
                                    <i class="far fa-edit"></i>Editar
                                </a>
                                -->
                                <a class="btn btn-primary" id="editar">
                                    <i class="far fa-edit"></i>Editar
                                </a>
                                <a class="btn btn-secondary">
                                    <i class="far fa-remove"></i>Eliminar
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <br>
            <br>
        </div>
        <div class="col-md-2 col-sm-12">

        </div>
    </div>
</div>

<!-- Modal Eliminar -->
<div class="modal" tabindex="-1" role="dialog" id="modalEliminar">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Eliminación de usuarios</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>¿Desea eliminar la persona?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Si</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Actualizar -->
<div class="modal" tabindex="-1" role="dialog" id="modalEditar">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Editar personas</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
            <div class="row">
                <div class="col">
                    <form method="post" action="" id="formEditar">
                        @Html.AntiForgeryToken()
                        <input type="hidden" id="Id" name="Id">
                        <div class="form-group">
                            <label for="nombre">Nombres</label>
                            <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Digite sus nombres" minlength="3" maxlength="50" >
                        </div>
                        <div class="form-group">
                            <label for="apellido">Apellidos</label>
                            <input type="text" class="form-control" id="apellido" name="apellido" placeholder="Digite sus apellidos" minlength="3" maxlength="50">
                        </div>
                        <div class="form-group">
                            <label for="telefono">Número de telefono</label>
                            <input type="number" class="form-control" id="telefono" name="telefono" placeholder="Digite su número teléfonico" min="3000000000" max="3999999999" step="1">
                        </div>
                        @using HostiEnCasa.App.Dominio
                        <div class="form-group">
                            <label for="genero">Genero</label>
                            <select class="form-control" id="genero" name="genero">
                                <option value="" selected="selected">Seleccione...</option>
                                <option value="@Genero.Femenino">Femenino</option>
                                <option value="@Genero.Masculino">Masculino</option>
                            </select>
                        </div>                                                                
                    </form>
                    <br>
                    <br>
                </div>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="btnActualizar">Actualizar</button>
        <button type="reset" class="btn btn-secondary">Limpiar</button>
      </div>
    </div>
  </div>
</div>